[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
beanie = "*"
boto3 = "*"
botocore = "*"
localstack-client = "*"
# This is a dependency of Beanie but we explicitly import it so we should mark
# it as a requirement.
motor = "*"
